

.container{
  max-width: 992px;
  border: 2px solid gray;
  text-align: center;
  margin: 40px auto;
  padding: 40px;
  
  
}
.main-heading{
  margin-bottom: 30px;
}
.mb-3{
  margin-bottom: 30px !important;
  margin: 0 auto;
 
}

.card{
  max-width: 90% !important;
 
}

.btn.btn-secondary{
     float: left;
     cursor: auto;
     margin-top: 5px;
     
}
.btn.btn-secondary.second{
  margin-left: 10px;
}
.card-title{
  
  text-align: left;
  color: #1e3799;
  
}
.card-text{
  text-align: start;
  
}
.text{
 float: left;
 padding: 10px;
 margin-left: 20px;
}
.card-body{
  display: flex;
  flex-direction: column;

}